In [1]:
import re

import numpy as np
import pandas as pd

In [2]:
def read_raw_data(data_filepath):
    df = pd.read_csv(
        data_filepath,
        compression="zip",
        sep=";",
        decimal=",",
        thousands=".",
    )

    m = re.compile(r"^([\dA-Z_]+) - (.*)")

    def get_variable_code(x):
        mm = m.match(x)
        if mm:
            return mm.group(1)
        return x

    df = df.rename(columns=get_variable_code)

    return df

In [33]:
data_filepath = "data/agua-esgoto-desagregado.zip"
municipio_filepath = "data/municipio.csv.gz"

# READ
populacao_municipio_atendida = (
    read_raw_data(data_filepath)
    [
        [
            "ano_referencia",
            "POP_TOT",
            "AG001",
            "ES001",
        ]
    ]
    .groupby(["ano_referencia"])
    .sum()
    .reset_index()
)
populacao_municipio_atendida

/tmp/ipykernel_332/3264591610.py:2: DtypeWarning: Columns (139) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(

    ano_referencia    POP_TOT        AG001        ES001
0             1995   45177611   10744000.0    8677000.0
1             1996   63368693   56669951.0   30494368.0
2             1997   73591678   61922128.0   35711886.0
3             1998  143927525   79545837.0   39848218.0
4             1999  146366630   82367905.0   47774491.0
5             2000  148442271   92660859.0   52118626.0
6             2001  152683284   98738838.0   53208181.0
7             2002  156036268  107358996.0   55517920.0
8             2003  160061254  113492368.0   57556172.0
9             2004  167367899  122433696.0   61134806.0
10            2005  171586497  130221756.0   65078998.0
11            2006  179294774  138497197.0   69368987.0
12            2007  174443069  139830082.0   71141008.0
13            2008  179915687  145769632.0   74791345.0
14            2009  189028395  149295258.0   78606622.0
15            2010  189172263  147654504.0   82732531.0
16            2011  192261049  152319156.0   87439926.0
17            2012  204531139  155396281.0   90703427.0
18            2013  210211808  159931414.0   94260667.0
19            2014  213534764  163172546.0   98006500.0
20            2015  215044820  164768219.0   99425474.0
21            2016  218185011  166623976.0  103855569.0
22            2017  218461604  167695183.0  105240838.0
23            2018  220998823  169020172.0  107431573.0
24            2019  223296194  170797294.0  110300342.0
25            2020  231682538  175086149.0  114615022.0
26            2021  253406564  176966912.0  117313123.0

In [34]:
populacao_municipio_atendida_2021 = (
    populacao_municipio_atendida.query("ano_referencia == 2021")
)
populacao_municipio_atendida_2021

    ano_referencia    POP_TOT        AG001        ES001
26            2021  253406564  176966912.0  117313123.0

In [35]:
populacao_total = populacao_municipio_atendida_2021["POP_TOT"].values[0]
populacao_com_agua = populacao_municipio_atendida_2021["AG001"].values[0]
populacao_com_esgoto = populacao_municipio_atendida_2021["ES001"].values[0]

In [36]:
populacao_sem_agua = populacao_total - populacao_com_agua
print(f"População sem água: {populacao_sem_agua / 1000000:.2f} mi {populacao_sem_agua / populacao_total * 100:.2f}%")

População sem água: 76.44 mi 30.16%

In [37]:
populacao_sem_esgoto = populacao_total - populacao_com_esgoto
print(f"População sem esgoto: {populacao_sem_esgoto / 1000000:.2f} mi {populacao_sem_esgoto / 210168717 * 100:.2f}%")

População sem esgoto: 136.09 mi 64.75%